<a href="https://colab.research.google.com/github/kmoreno7/p4_SharkTank/blob/main/sharktank_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
from google.colab import files
uploaded = files.upload()

Saving clean_sharktank_data.csv to clean_sharktank_data.csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(uploaded['clean_sharktank_data.csv']))
# Dataset is now stored in a Pandas Dataframe

In [4]:
df

,Unnamed: 0,Company,ASK_Amount,ASK_Equity,ASK_Valuation,Deal_Yes,Industry_Automotive,Industry_Business Services,Industry_Children / Education,Industry_Fashion / Beauty,...,Industry_Health / Wellness,Industry_Lifestyle / Home,Industry_Media / Entertainment,Industry_Pet Products,Industry_Software / Tech,Industry_Travel,Industry_Uncertain / Other,Entrepreneur Gender_Female,Entrepreneur Gender_Male,Entrepreneur Gender_Mixed Team
0,0,Ava the Elephant,50000,15,333333,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,1,Mr. Tod's Pie Factory,460000,10,4600000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,6,Classroom Jams,250000,10,2500000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,263,Sweet Ballz,250000,10,2500000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,264,Postcard on the Run,300000,5,6000000,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629,890,Cubicall,350000,10,3500000,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
630,891,Fat Shack,250000,7,3333333,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
631,892,Quickflip,500000,5,10000000,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
632,893,BatBnB,100000,16,625000,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
633,894,CoyoteVest,250000,10,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [5]:
df.dtypes

Unnamed: 0                               int64
Company                                 object
ASK_Amount                               int64
ASK_Equity                               int64
ASK_Valuation                            int64
Deal_Yes                                 int64
Industry_Automotive                      int64
Industry_Business Services               int64
Industry_Children / Education            int64
Industry_Fashion / Beauty                int64
Industry_Fitness / Sports / Outdoors     int64
Industry_Food and Beverage               int64
Industry_Green/CleanTech                 int64
Industry_Health / Wellness               int64
Industry_Lifestyle / Home                int64
Industry_Media / Entertainment           int64
Industry_Pet Products                    int64
Industry_Software / Tech                 int64
Industry_Travel                          int64
Industry_Uncertain / Other               int64
Entrepreneur Gender_Female               int64
Entrepreneur Gender_Male                 int64
Entrepreneur Gender_Mixed Team           int64
dtype: object

In [6]:
#clean data
df = df.drop(columns=['Unnamed: 0','Company'])

df

,ASK_Amount,ASK_Equity,ASK_Valuation,Deal_Yes,Industry_Automotive,Industry_Business Services,Industry_Children / Education,Industry_Fashion / Beauty,Industry_Fitness / Sports / Outdoors,Industry_Food and Beverage,...,Industry_Health / Wellness,Industry_Lifestyle / Home,Industry_Media / Entertainment,Industry_Pet Products,Industry_Software / Tech,Industry_Travel,Industry_Uncertain / Other,Entrepreneur Gender_Female,Entrepreneur Gender_Male,Entrepreneur Gender_Mixed Team
0,50000,15,333333,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,460000,10,4600000,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,250000,10,2500000,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,250000,10,2500000,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,300000,5,6000000,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629,350000,10,3500000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
630,250000,7,3333333,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
631,500000,5,10000000,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
632,100000,16,625000,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
633,250000,10,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [21]:
#drop dummy data to be re added later 
#dummy_data = df.iloc[:,4:21]

#scale_data = df.drop(df.columns[4:21], axis=1)
#scale_data

     ASK_Amount  ASK_Equity  ASK_Valuation  Deal_Yes
0         50000          15         333333         1
1        460000          10        4600000         1
2        250000          10        2500000         1
3        250000          10        2500000         1
4        300000           5        6000000         1
..          ...         ...            ...       ...
629      350000          10        3500000         1
630      250000           7        3333333         1
631      500000           5       10000000         1
632      100000          16         625000         1
633      250000          10              0         0

[634 rows x 4 columns]

In [26]:
#define the X and y
X = df.drop(['Deal_Yes'], axis=1)
y = df['Deal_Yes']

for i, column in enumerate(X.columns):
  print(f"X[{i}] in .js informed by {column}")

X[0] in .js informed by ASK_Amount
X[1] in .js informed by ASK_Equity
X[2] in .js informed by ASK_Valuation
X[3] in .js informed by Industry_Automotive
X[4] in .js informed by Industry_Business Services
X[5] in .js informed by Industry_Children / Education
X[6] in .js informed by Industry_Fashion / Beauty
X[7] in .js informed by Industry_Fitness / Sports / Outdoors
X[8] in .js informed by Industry_Food and Beverage
X[9] in .js informed by Industry_Green/CleanTech
X[10] in .js informed by Industry_Health / Wellness
X[11] in .js informed by Industry_Lifestyle / Home
X[12] in .js informed by Industry_Media / Entertainment
X[13] in .js informed by Industry_Pet Products
X[14] in .js informed by Industry_Software / Tech
X[15] in .js informed by Industry_Travel
X[16] in .js informed by Industry_Uncertain / Other
X[17] in .js informed by Entrepreneur Gender_Female
X[18] in .js informed by Entrepreneur Gender_Male
X[19] in .js informed by Entrepreneur Gender_Mixed Team

In [27]:
#Import Train_test_split
from sklearn.model_selection import train_test_split

In [28]:
#Import StandardScaler
from sklearn.preprocessing import StandardScaler

# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [34]:
scaler.scale_

array([3.31319736e+05, 7.22997331e+00, 4.64854422e+06, 2.77703283e-01,
       3.85061782e-01, 3.60645774e-01, 3.01398403e-01, 2.64660971e-01,
       2.83906270e-01, 2.54257923e-01, 8.22201625e-01, 9.13790923e-02,
       7.92205799e-02, 3.17427332e-01, 3.62655640e-01, 3.06892205e-01,
       3.86795916e-01, 1.02056418e-01, 2.00829306e-01, 3.90206991e-01,
       1.43559807e-01, 2.39426832e-01, 2.71293199e-01, 1.02056418e-01,
       1.20497583e-01, 4.17755512e-01, 4.89019597e-01, 3.76094525e-01])

In [31]:
#Get the mean from the scaler
from sklearn.datasets import make_classification
scaler.mean_

array([2.88964211e+05, 1.32273684e+01, 3.40901926e+06, 8.42105263e-03,
       6.31578947e-03, 1.13684211e-01, 1.55789474e-01, 1.05263158e-01,
       1.83157895e-01, 1.05263158e-02, 4.21052632e-02, 1.87368421e-01,
       2.10526316e-02, 6.10526316e-02, 8.00000000e-02, 1.05263158e-02,
       1.47368421e-02, 2.25263158e-01, 6.04210526e-01, 1.70526316e-01])

In [32]:
#Get the var from the scaler (this will be squared in the javascript file to determine z score.)
scaler.var_

array([1.09772767e+11, 5.22725141e+01, 2.16089634e+13, 8.35013850e-03,
       6.27590028e-03, 1.00760111e-01, 1.31519114e-01, 9.41828255e-02,
       1.49611080e-01, 1.04155125e-02, 4.03324100e-02, 1.52261496e-01,
       2.06094183e-02, 5.73252078e-02, 7.36000000e-02, 1.04155125e-02,
       1.45196676e-02, 1.74519668e-01, 2.39140166e-01, 1.41447091e-01])

In [33]:
# Train a Logistic Regression model and print the model score
from sklearn.linear_model import LogisticRegression

reg = LogisticRegression().fit(X_train_scaled, y_train)
print('Model: Logistic Regression')
print(f'Training Score: {reg.score(X_train_scaled, y_train)}')
print(f'Testing Score: {reg.score(X_test_scaled, y_test)}')

Model: Logistic Regression
Training Score: 0.631578947368421
Testing Score: 0.5408805031446541

In [34]:
#Get the intercept from the logistic regression 
reg.intercept_

array([0.3326039])

In [35]:
#Get the coefficient values from the logistic regression
reg.coef_

array([[-0.07630718, -0.35676028, -0.12421937,  0.41684977,  0.03185517,
         0.03955223, -0.26187454,  0.02489356,  0.03446122,  0.11974947,
         0.02437165,  0.08312125,  0.10935225,  0.02253039, -0.05124994,
        -0.17549381, -0.14936309,  0.09520573, -0.08826022,  0.00900906]])