<a href="https://colab.research.google.com/github/kmoreno7/p4_SharkTank/blob/main/p4_SharkTank/data/Cleaning_SharkTank_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
from google.colab import files
uploaded = files.upload()

Saving sharktank_data.csv to sharktank_data.csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(uploaded['sharktank_data.csv']))
# Dataset is now stored in a Pandas Dataframe

In [4]:
df

,Season,No. in series,Episode,Company,Description,Deal,Industry,Entrepreneur Gender,State,ASK_Amount,...,Barbara Corcoran,Mark Cuban,Lori Greiner,Robert Herjavec,Daymond John,Kevin O'Leary,Guest,# Sharks,$ per shark,Details / Notes
0,1,1,1.01,Ava the Elephant,NaN,Yes,Health / Wellness,Female,NaN,"$50,000",...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,"$50,000",NaN
1,1,1,1.01,Mr. Tod's Pie Factory,NaN,Yes,Food and Beverage,Male,NJ,"$460,000",...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,2.0,"$230,000",NaN
2,1,1,1.01,Wispots,NaN,No,Business Services,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,1,1,1.01,College Foxes Packing Boxes,NaN,No,Lifestyle / Home,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,1,1,1.01,Ionic Ear,Bluetooth device implanted into the ear,No,Software / Tech,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,10,22,10.22,Cubicall,office privacy booth,Yes,Lifestyle / Home,Male,NaN,"$350,000",...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
891,10,23,10.23,Fat Shack,lat night food franchise,Yes,Food and Beverage,Male,NaN,"$250,000",...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,10,23,10.23,Quickflip,hoodie backpack,Yes,Fashion / Beauty,Male,CA,"$500,000",...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893,10,23,10.23,BatBnB,bat houses,Yes,Lifestyle / Home,Male,NaN,"$100,000",...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
894,10,23,10.23,CoyoteVest,body armor for pets,No,Pet Products,Mixed Team,NaN,"$250,000",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# Drop the non-beneficial ID columns
drop_df = df.drop(columns=['Season','No. in series','Episode','Description','State','DEAL_Amount','DEAL_Equity','DEAL_Valuation','Details / Notes','Royalty Deal?','Loan?','$ per shark'])
drop_df

,Company,Deal,Industry,Entrepreneur Gender,ASK_Amount,ASK_Equity,ASK_Valuation,Barbara Corcoran,Mark Cuban,Lori Greiner,Robert Herjavec,Daymond John,Kevin O'Leary,Guest,# Sharks
0,Ava the Elephant,Yes,Health / Wellness,Female,"$50,000",15.00%,"$333,333",1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,Mr. Tod's Pie Factory,Yes,Food and Beverage,Male,"$460,000",10.00%,"$4,600,000",1.0,NaN,NaN,NaN,1.0,NaN,NaN,2.0
2,Wispots,No,Business Services,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,College Foxes Packing Boxes,No,Lifestyle / Home,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,Ionic Ear,No,Software / Tech,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,Cubicall,Yes,Lifestyle / Home,Male,"$350,000",10.00%,"$3,500,000",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
891,Fat Shack,Yes,Food and Beverage,Male,"$250,000",7.50%,"$3,333,333",NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
892,Quickflip,Yes,Fashion / Beauty,Male,"$500,000",5.00%,"$10,000,000",NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
893,BatBnB,Yes,Lifestyle / Home,Male,"$100,000",16.00%,"$625,000",NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
894,CoyoteVest,No,Pet Products,Mixed Team,"$250,000",10.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
#Drop NaN from the "ASK_Amount" column
drop_na_df = drop_df[drop_df['ASK_Amount'].notna()]
drop_na_df

,Company,Deal,Industry,Entrepreneur Gender,ASK_Amount,ASK_Equity,ASK_Valuation,Barbara Corcoran,Mark Cuban,Lori Greiner,Robert Herjavec,Daymond John,Kevin O'Leary,Guest,# Sharks
0,Ava the Elephant,Yes,Health / Wellness,Female,"$50,000",15.00%,"$333,333",1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,Mr. Tod's Pie Factory,Yes,Food and Beverage,Male,"$460,000",10.00%,"$4,600,000",1.0,NaN,NaN,NaN,1.0,NaN,NaN,2.0
6,Classroom Jams,Yes,Children / Education,Male,"$250,000",10.00%,"$2,500,000",1.0,1.0,NaN,1.0,1.0,1.0,NaN,5.0
263,Sweet Ballz,Yes,Food and Beverage,Male,"$250,000",10.00%,"$2,500,000",1.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0
264,Postcard on the Run,Yes,Software / Tech,Male,"$300,000",5.00%,"$6,000,000",NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,Cubicall,Yes,Lifestyle / Home,Male,"$350,000",10.00%,"$3,500,000",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
891,Fat Shack,Yes,Food and Beverage,Male,"$250,000",7.50%,"$3,333,333",NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
892,Quickflip,Yes,Fashion / Beauty,Male,"$500,000",5.00%,"$10,000,000",NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
893,BatBnB,Yes,Lifestyle / Home,Male,"$100,000",16.00%,"$625,000",NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
894,CoyoteVest,No,Pet Products,Mixed Team,"$250,000",10.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
#Replace last NaN with 0 
fill_na_df = drop_na_df.fillna(0)
fill_na_df

,Company,Deal,Industry,Entrepreneur Gender,ASK_Amount,ASK_Equity,ASK_Valuation,Barbara Corcoran,Mark Cuban,Lori Greiner,Robert Herjavec,Daymond John,Kevin O'Leary,Guest,# Sharks
0,Ava the Elephant,Yes,Health / Wellness,Female,"$50,000",15.00%,"$333,333",1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Mr. Tod's Pie Factory,Yes,Food and Beverage,Male,"$460,000",10.00%,"$4,600,000",1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0
6,Classroom Jams,Yes,Children / Education,Male,"$250,000",10.00%,"$2,500,000",1.0,1.0,0.0,1.0,1.0,1.0,0.0,5.0
263,Sweet Ballz,Yes,Food and Beverage,Male,"$250,000",10.00%,"$2,500,000",1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0
264,Postcard on the Run,Yes,Software / Tech,Male,"$300,000",5.00%,"$6,000,000",0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,Cubicall,Yes,Lifestyle / Home,Male,"$350,000",10.00%,"$3,500,000",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
891,Fat Shack,Yes,Food and Beverage,Male,"$250,000",7.50%,"$3,333,333",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
892,Quickflip,Yes,Fashion / Beauty,Male,"$500,000",5.00%,"$10,000,000",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
893,BatBnB,Yes,Lifestyle / Home,Male,"$100,000",16.00%,"$625,000",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
894,CoyoteVest,No,Pet Products,Mixed Team,"$250,000",10.00%,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
fill_na_df['ASK_Amount'] = fill_na_df['ASK_Amount'].str.replace(',', '')
fill_na_df['ASK_Amount'] = fill_na_df['ASK_Amount'].str.replace('$', '')

fill_na_df['ASK_Equity'] = fill_na_df['ASK_Equity'].str.replace('%', '')

fill_na_df['ASK_Valuation'] = fill_na_df['ASK_Valuation'].str.replace(',', '')
fill_na_df['ASK_Valuation'] = fill_na_df['ASK_Valuation'].str.replace('$', '')

AttributeError: ignored

In [75]:
fill_na_df

,Company,Deal,Industry,Entrepreneur Gender,ASK_Amount,ASK_Equity,ASK_Valuation,Barbara Corcoran,Mark Cuban,Lori Greiner,Robert Herjavec,Daymond John,Kevin O'Leary,Guest,# Sharks
0,Ava the Elephant,Yes,Health / Wellness,Female,50000,15.00,333333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Mr. Tod's Pie Factory,Yes,Food and Beverage,Male,460000,10.00,4600000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0
6,Classroom Jams,Yes,Children / Education,Male,250000,10.00,2500000,1.0,1.0,0.0,1.0,1.0,1.0,0.0,5.0
263,Sweet Ballz,Yes,Food and Beverage,Male,250000,10.00,2500000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0
264,Postcard on the Run,Yes,Software / Tech,Male,300000,5.00,6000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,Cubicall,Yes,Lifestyle / Home,Male,350000,10.00,3500000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
891,Fat Shack,Yes,Food and Beverage,Male,250000,7.50,3333333,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
892,Quickflip,Yes,Fashion / Beauty,Male,500000,5.00,10000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
893,BatBnB,Yes,Lifestyle / Home,Male,100000,16.00,625000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
894,CoyoteVest,No,Pet Products,Mixed Team,250000,10.00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [76]:
fill_na_df = fill_na_df.fillna(0)

In [77]:
fill_na_df

,Company,Deal,Industry,Entrepreneur Gender,ASK_Amount,ASK_Equity,ASK_Valuation,Barbara Corcoran,Mark Cuban,Lori Greiner,Robert Herjavec,Daymond John,Kevin O'Leary,Guest,# Sharks
0,Ava the Elephant,Yes,Health / Wellness,Female,50000,15.00,333333,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Mr. Tod's Pie Factory,Yes,Food and Beverage,Male,460000,10.00,4600000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0
6,Classroom Jams,Yes,Children / Education,Male,250000,10.00,2500000,1.0,1.0,0.0,1.0,1.0,1.0,0.0,5.0
263,Sweet Ballz,Yes,Food and Beverage,Male,250000,10.00,2500000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0
264,Postcard on the Run,Yes,Software / Tech,Male,300000,5.00,6000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,Cubicall,Yes,Lifestyle / Home,Male,350000,10.00,3500000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
891,Fat Shack,Yes,Food and Beverage,Male,250000,7.50,3333333,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
892,Quickflip,Yes,Fashion / Beauty,Male,500000,5.00,10000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
893,BatBnB,Yes,Lifestyle / Home,Male,100000,16.00,625000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
894,CoyoteVest,No,Pet Products,Mixed Team,250000,10.00,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
fill_na_df['ASK_Amount'] = fill_na_df['ASK_Amount'].astype(int)

fill_na_df['ASK_Equity'] = fill_na_df['ASK_Equity'].astype(float)
fill_na_df['ASK_Equity'] = fill_na_df['ASK_Equity'].astype(int)

fill_na_df['ASK_Valuation'] = fill_na_df['ASK_Valuation'].astype(int)

In [80]:
fill_na_df.dtypes

Company                 object
Deal                    object
Industry                object
Entrepreneur Gender     object
ASK_Amount               int64
ASK_Equity               int64
ASK_Valuation            int64
Barbara  Corcoran      float64
Mark  Cuban            float64
Lori Greiner           float64
Robert Herjavec        float64
Daymond John           float64
Kevin O'Leary          float64
Guest                  float64
# Sharks               float64
dtype: object

In [81]:
# Convert categorical data to numeric with `pd.get_dummies`
clean_df = pd.get_dummies(fill_na_df,columns=['Deal','Industry','Entrepreneur Gender'])
clean_df = clean_df.drop(columns=['Deal_No'])
clean_df.head()

,Company,ASK_Amount,ASK_Equity,ASK_Valuation,Barbara Corcoran,Mark Cuban,Lori Greiner,Robert Herjavec,Daymond John,Kevin O'Leary,...,Industry_Health / Wellness,Industry_Lifestyle / Home,Industry_Media / Entertainment,Industry_Pet Products,Industry_Software / Tech,Industry_Travel,Industry_Uncertain / Other,Entrepreneur Gender_Female,Entrepreneur Gender_Male,Entrepreneur Gender_Mixed Team
0,Ava the Elephant,50000,15,333333,1.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
1,Mr. Tod's Pie Factory,460000,10,4600000,1.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,1,0
6,Classroom Jams,250000,10,2500000,1.0,1.0,0.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,1,0
263,Sweet Ballz,250000,10,2500000,1.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
264,Postcard on the Run,300000,5,6000000,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,1,0,0,0,1,0

In [82]:
clean_df.dtypes

Company                                  object
ASK_Amount                                int64
ASK_Equity                                int64
ASK_Valuation                             int64
Barbara  Corcoran                       float64
Mark  Cuban                             float64
Lori Greiner                            float64
Robert Herjavec                         float64
Daymond John                            float64
Kevin O'Leary                           float64
Guest                                   float64
# Sharks                                float64
Deal_Yes                                  uint8
Industry_Automotive                       uint8
Industry_Business Services                uint8
Industry_Children / Education             uint8
Industry_Fashion / Beauty                 uint8
Industry_Fitness / Sports / Outdoors      uint8
Industry_Food and Beverage                uint8
Industry_Green/CleanTech                  uint8
Industry_Health / Wellness                uint8
Industry_Lifestyle / Home                 uint8
Industry_Media / Entertainment            uint8
Industry_Pet Products                     uint8
Industry_Software / Tech                  uint8
Industry_Travel                           uint8
Industry_Uncertain / Other                uint8
Entrepreneur Gender_Female                uint8
Entrepreneur Gender_Male                  uint8
Entrepreneur Gender_Mixed Team            uint8
dtype: object

In [83]:
from google.colab import files
clean_df.to_csv('clean_sharktank_data.csv', encoding = 'utf-8-sig') 
files.download('clean_sharktank_data.csv')